{{!-- views/auth/signup.hbs --}}
<div id="signup">
  <div class="form-group row">
    <div class="form-group">
  <h2>Signup</h2>
  <form action="/signup" method="POST">
    <label for="input-username" class="form-label mt-4"> Username </label>
    <input type="text" class="form-control" id="input-username" name="username" placeholder="Your username" />

    <label for="input-email" class="form-label"> Email </label>
    <input type="email" class="form-control" id="input-email" name="email" placeholder="Your email" />


    <label for="input-password" class="form-label mt-4"> Password </label>
    <input type="password" class="form-control" name="password" id="input-password" placeholder="********" />

    <button type="submit" class="btn btn-light">Crear cuenta</button>

    {{!-- error message will be added here --}}

    {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
    {{/if}}


  </form>
  </div>
  </div>
</div>
