<p><h1 class="text-secondary">Todo el universo astronómico en un solo lugar</h1></p>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/public/images/telescope.png" class="d-md-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-primary">
        <h3>Nuestro producto estrella</h3>
        <p>Teelescopio refractor Celestron M70</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/public/images/taza.png" class="d-md-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-primary">
        <h3>¡El mejor regalo!</h3>
        <p>cientos de regalos y juguetes para los amantes de la astronomía</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/public/images/laser.png" class="d-md-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block text-primary">
        <h3>Una amplia gama de potencia</h3>
        <p>Encuentra el apuntador adecuado a tus necesitades</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="d-flex"style= "justify-content: space-around;">
  <div>
    <p><h2>Aquí encontrarás los mejores productos relacionados con astronomía</h2></p>
    <p style="text-align: justify; margin-right: 10em;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda saepe temporibus quaerat veniam sunt quasi modi dicta voluptatum delectus nam, cupiditate libero unde non, beatae eum eius exercitationem reprehenderit doloremque incidunt molestiae! Debitis natus aliquid vitae neque nostrum exercitationem inventore assumenda hic sunt iusto nulla modi voluptatum possimus eum sed nesciunt, veritatis et nihil unde non! Earum ullam accusamus id quod excepturi quos sunt maiores, repudiandae veniam, velit voluptas ratione nobis, nam voluptates quia eius minus distinctio blanditiis. Nulla, quae architecto. Saepe omnis perspiciatis autem provident ratione iste exercitationem doloremque impedit officia? Quia maxime temporibus, unde suscipit eum iste fugiat, eos tempora ratione, cupiditate enim quos. In nobis fugit necessitatibus odio, eligendi hic laudantium distinctio consequuntur modi atque quis voluptatem reprehenderit. Laborum dolores atque, fugiat, praesentium sunt iusto magni distinctio optio aliquid voluptatem quidem molestiae nostrum repudiandae, esse commodi architecto possimus beatae in fuga eligendi neque fugit at et quam? Est quis perferendis laboriosam sequi esse obcaecati beatae temporibus voluptatum nisi, qui dolor fugiat distinctio ad repellat dicta blanditiis quo. A quaerat fugit possimus doloremque labore, tempore facere amet at tempora nam, sed illo corporis earum ullam reprehenderit id esse debitis maiores officiis perspiciatis aliquid culpa cum dicta cupiditate? Porro, animi beatae!</p>
  </div>
  <div>
    <p></p>
    <p>
      <img src="/public/images/logo.png" width="300px">
    </p>
  </div>
</div>

<script>
  var myCarousel = document.querySelector('#myCarousel')
  var carousel = new bootstrap.Carousel(myCarousel)

</script>